*{
  font-family: 'Fira_Sans';
  box-sizing: border-box;
}
body::-webkit-scrollbar-thumb{
  background-color: #d52b1e;
  border-radius: 3px;
}
body::-webkit-scrollbar-track{
  background-color: #373737;
}
body::-webkit-scrollbar{
  width: 10px;
}
.container{
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}
  .mySwiper-button-next{
    color: #afadad ;
  } 
  :root {
    --swiper-navigation-size: 22px;
    --swiper-theme-color: #fff;
  }

.css-1nvf7g0 {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 8px;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=checkbox] {
  --webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    background-color: #373737;
}

@media only screen and (min-width:650px){
:root {
  --swiper-navigation-size: 44px;
}
}

#swiperDetail{
  .swiper-slide {
    text-align: center;

  }

  .swiper-button-next{
    color: #fff ;
  } 
  .swiper-button-prev{
    color: #fff  ;
  } 
}
#swiperDetail {
  --swiper-navigation-size: 24px !important;
  --swiper-theme-color: #fff;
}